server:
  port: 8080

spring:
  kafka:
    bootstrap-servers:
      #      - kafka-cluster.sprouts.kr
      - 127.0.0.1:9092
      - 127.0.0.1:9093
      - 127.0.0.1:9094
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema:
          registry:
            url: http://schema-registry-api.sprouts.kr
    consumer:
      group-id: spring-boot-kafka
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        spring.json.trusted.packages: "*"